body {
    background-color: #263238
}

#app {
    font-family: 'Avenir', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: white;
    margin-top: 60px;
}

.character-card {
    border: 2px solid #4FC08D;
    border-radius: 4px;
    cursor: pointer;
}

.link, .link:hover, .link:visited, .link:active {
    color: #4FC08D;
}

.item-card {
    border: 2px solid #4FC08D;
    border-radius: 4px;
    cursor: pointer;
}